<div class="palette token-variants-palette contextmenu" data-palette="tva">
  <div class="token-variants-context-menu active">
    <input class="token-variants-side-search" type="text" />
    <button class="flags" type="button"><i class="fab fa-font-awesome-flag"></i><label>Flags</label></button>
    <button class="file-picker" type="button"><i class="fas fa-file-import fa-fw"></i><label>Browse Folders</label></button>
    <button class="effectConfig" type="button"><i class="fas fa-sun"></i><label>Mappings</label></button>
    <button class="randomizerConfig" type="button"><i class="fas fa-dice"></i><label>Randomizer</label></button>
  </div>
</div>
