<form>
    <div class="form-group" style="outline-style: dotted; color: orangered; padding: 5px;">
        <label>Templates uploaded using this form will become available to all TVA users after approval by <b>@aedif</b>.</label>
    </div>
    <hr>

    <div class="form-group">
        <label>Template</label>
        <div class="form-fields">
            <select name="template">
                {{#each templates}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <p class="notes">Select the template you wish to submit.</p>
    </div>

    <div class="form-group">
        <label>Is this template system dependant?</label>
        <div class="form-fields">
            <select name="system">
                <option value="{{systemID}}" selected="selected">Yes. ( {{systemTitle}} )</option>
                <option value="">No.</option>
            </select>
        </div>
    </div>

    <div>
        <label>Module Dependencies</label>
        <div style="max-height: 150px; overflow: scroll; border-width: 2px; border-style: groove;">
            {{#each modules as |module|}}
            <div>
                <input type="checkbox" name="modules" value="{{module.id}}">
                <label>{{module.name}}</label>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="form-group">
        <label>Name (optional)</label>
        <div class="form-fields">
            <input type="text" name="name" data-dtype="String" value="" minlength="5" maxlength="100">
        </div>
        <p class="notes">The name you want the template to be submitted under. If not provided the original template's name will be used.</p>
    </div>

    <div class="form-group">
        <label>Description (optional)</label>
        <div class="form-fields">
            <textarea name="hint" maxlength="1000" style="height: 90px;"></textarea>
        </div>
        <p class="notes">The description you want the template to be submitted with. If not provided the original template's description will be used.</p>
    </div>

    <div class="form-group">
        <label>Example Image (optional)</label>
        <div class="form-fields">
            <input type="text" name="img" data-dtype="String" value="" maxlength="400">
        </div>
        <p class="notes">External image URL.</p>
    </div>

    <div class="form-group">
        <label>Submitter's Name (optional)</label>
        <div class="form-fields">
            <input type="text" name="createdBy" data-dtype="String" value="" maxlength="19">
        </div>
        <p class="notes">What name do you want to submit the template under?</p>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="fa-solid fa-cloud-arrow-up"></i>Upload</button>
    </footer>
</form>