<form>
    <div class="form-group">
        <label>Category</label>
        <div class="form-fields">
            <select name="category">
                <option value="user" {{#if (eq category "user")}}selected="selected"{{/if}}>User</option>
                <option value="core" {{#if (eq category "core")}}selected="core"{{/if}}>CORE</option>
                <option value="community" {{#if (eq category "community")}}selected="community"{{/if}}>Community</option>
            </select>
        </div>
        <p class="notes">Template category you wish to view.</p>
    </div>

    {{#if allowCreate}}
    <button class="create">Create Template</button>
    <hr>
    {{/if}}

    <input type="text" class="search" placeholder="Search templates..">

    <hr>
    
    <ul class="template-list">
    {{#each templates}}
        <li class="template tooltip" data-id="{{id}}" data-name="{{name}}" data-url="{{fileURL}}" data-creator="{{createdBy}}">
            {{#if (or hint img)}}
                <div class="tooltiptext">
                    {{#if hint}}<div class="description">{{{hint}}}</div>{{/if}}
                    {{#if img}}<img data-src="{{img}}" loading="lazy">{{/if}}
                </div>
            {{/if}}
            <a>{{name}}</a> {{#if createdBy}}<span class="createdBy">- by {{createdBy}}{{/if}}</span>
            {{#if ../allowDelete}}<a class="delete" title="Delete"><i class="fa-solid fa-trash fa-xs"></i></a>{{/if}}
            {{#if ../allowCopy}}<a class="copy" title="Copy to User"><i class="fas fa-clone fa-xs"></i></a>{{/if}}
            {{#if system}}<br><span class="system">({{system}})</span>{{/if}}
            {{#each modules as |module|}}<span class="module" title="{{module.id}}">({{module.name}})</span>{{/each}}
        </li>
    {{/each}}
    </ul>
</form>