<form>
  <section>
    <ol class="token-variant-table">
      <li class="table-row table-header flexrow">
        <div class="effect-controls">
          <a class="create-mapping" title="Add new mapping"><i class="fas fa-plus"></i></a>
        </div>
        <div class="effect-name"><label>Effect Name</label></div>
        <div class="effect-priority"><label>Priority</label></div>
        <div class="effect-image"><label>Image</label></div>
        <div class="effect-config"><label>Config</label></div>
        <div class="effect-overlay"><label>Overlay</label></div>
      </li>

      {{#each mappings as |mapping index|}}
      <li class="table-row flexrow" data-index="{{index}}">
        <div class="effect-controls">
          <a class="clone-mapping" title="Clone mapping"><i class="fas fa-clone"></i></a>
          <a class="delete-mapping" title="Delete mapping"><i class="fas fa-trash"></i></a>
        </div>
        <div class="effect-name">
          <input
            type="text"
            name="mappings.{{index}}.effectName"
            value="{{mapping.effectName}}"
            placeholder="effect name"
          />
        </div>
        <div class="effect-priority">
          <input
            type="number"
            name="mappings.{{index}}.priority"
            value="{{mapping.priority}}"
            placeholder="priority"
          />
        </div>
        <div class="effect-image">
          <video
            height="32" width="32"
            src="{{mapping.imgSrc}}"
            title="{{mapping.imgName}}"
            autoplay
            loop
            muted
            {{#unless isVideo}}hidden{{/unless}}
            >
          </video>
          <img height="32" width="32" src="{{mapping.imgSrc}}" title="{{mapping.imgName}}" {{#if isVideo}}hidden{{/if}}/>
          <input
            class="imgSrc"
            type="hidden"
            name="mappings.{{index}}.imgSrc"
            value="{{mapping.imgSrc}}"
          />
          <input
            class="imgName"
            type="hidden"
            name="mappings.{{index}}.imgName"
            value="{{mapping.imgName}}"
          />
        </div>
        <div class="effect-config">
          <a><i class="fas fa-cog fa-lg config {{#if mapping.hasTokenConfig}}active{{/if}}"></i></a>
          <a><i class="fas fa-edit config-edit {{#if mapping.hasConfig}}active{{/if}}"></i></a>
          <a><i class="fas fa-play config-script {{#if mapping.hasScript}}active{{/if}}"></i></a>
          <input class="config" type="hidden" name="mappings.{{index}}.config" value="{{mapping.config}}">
        </div>
        <div class="effect-overlay">
          <input type="checkbox" name="mappings.{{index}}.overlay" {{#if mapping.overlay}}checked{{/if}}/>
          <a><i class="fas fa-cog fa-lg overlay-config"></i></a>
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
  <footer class="sheet-footer flexrow">
    <button class="save-mappings" type="button">
      <i class="far fa-save"></i>{{localize "token-variants.common.apply"}}
    </button>
  </footer>
</form>
