<form>
    <div class="form-group">
        <img class="icon" title="{{effectName}}" alt="{{effectName}}" src="{{effectImg}}" width="100" height="100"></img>
        &nbsp;&nbsp;<i class="fas fa-angle-double-right fa-2x"></i>
        <img class="image" src="{{imgSrc}}" title="{{imgName}}" alt="" width="100" height="100" {{#if isVideo}}hidden{{/if}}></img>
        <video class="image" src="{{imgSrc}}" title="{{imgName}}" width="100" height="100" autoplay loop muted {{#unless isVideo}}hidden{{/unless}}></video>
        <input class="imgSrc" type="hidden" name="imgSrc" value="{{imgSrc}}">
        <input class="imgName" type="hidden" name="imgName" value="{{imgName}}">
    </div>
    <div class="form-group">
        <label style="flex:3;" title="{{localize 'token-variants.windows.status-config.hint'}}">{{localize "token-variants.common.priority"}}</label>
        <input class="priority" type="number" min="0" max="100" name="priority" value="{{priority}}" title="{{localize 'token-variants.windows.status-config.hint'}}">
    </div>

    <div class="form-group">
        <label style="flex:3;">Config</label>
        <button class="effect-config {{#if hasTokenConfig}}active{{/if}}" type="button"><i class="fas fa-cog fa-lg"></i></button>
        <input type="hidden" name="config" value="{{config}}">
        <button class="effect-config-edit {{#if hasConfig}}active{{/if}}" type="button"><i class="fas fa-edit"></i></button>
        <button class="effect-config-script {{#if hasScript}}active{{/if}}" type="button"><i class="fas fa-play"></i></button>
    </div>

    <div class="form-group">
        <label style="flex:3;">Overlay</label>
        <input type="checkbox" name="overlay" {{#if overlay}}checked{{/if}}/>
        <a style="flex: 0;"><i class="fas fa-cog fa-lg overlay-config"></i></a>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "token-variants.common.apply"}}</button>
    {{#if imgSrc}}
        <button type="button" class="remove"><i class="fas fa-trash"></i> {{localize "token-variants.common.remove"}}</button>
    {{/if}}
    </footer>
</form>