<form>
  <h2>{{localize "token-variants.common.exact"}}</h2>
  <div class="form-group">
    <label>{{localize "token-variants.common.enable"}}</label>
    <input type="checkbox" name="exact" data-dtype="Boolean" {{#if exact}}checked{{/if}}>
    <p class="notes">{{localize "token-variants.settings.algorithm.exact-hint"}}</p>
  </div>

  <h2>{{localize "token-variants.common.fuzzy"}}</h2>
  <div class="form-group">
    <label>{{localize "token-variants.common.enable"}}</label>
    <input type="checkbox" name="fuzzy" data-dtype="Boolean" {{#if fuzzy}}checked{{/if}}>
    <p class="notes">{{localize "token-variants.settings.algorithm.fuzzy-hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.common.limit"}}</label>
    <input
      type="text"
      name="fuzzyLimit"
      value="{{fuzzyLimit}}"
      placeholder="1"
      data-dtype="Number"
    />
    <p class="notes">{{localize "token-variants.settings.algorithm.limit-hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.algorithm.window.percentage-match.Name"}}</label>
    <input
      type="range"
      name="fuzzyThreshold"
      data-dtype="Number"
      value="{{fuzzyThreshold}}"
      min="0"
      max="100"
      step="0.1"
    />
    <span class="token-variants-range-value">{{fuzzyThreshold}}%</span>
    <p class="notes">
      {{localize "token-variants.settings.algorithm.window.percentage-match.Hint"}}
    </p>
  </div>

  <hr />

  <div class="button-container">
    <button type="submit">
      <i class="far fa-save"></i>{{localize "token-variants.common.apply"}}
    </button>
  </div>
</form>
