<form>
    <div class="form-group">
        <input type="text" id="custom-art-search" name="search" value="{{search}}" />
        <button type="button" id="custom-art-search-bt">
            Search
        </button>
    </div>
    {{#if allButtons}}
    {{#each allButtons}}
    <div>
        <h2><b>{{{@key}}}</b></h2>
    </div>
    <hr />
    <div class="token-variants-grid">
        {{#each this}}
        <div>
            {{#if img}}
            <img class="token-variants-box" src="{{path}}" id="{{id}}" />
            {{/if}}
            {{#if vid}}
            <video class="token-variants-box" src="{{path}}" id="{{id}}" alt="{{label}}" autoplay loop></video>
            {{/if}}
            {{#unless type}}
            <span class="token-variants-box" alt="{{label}}">{{path}}</span>
            {{/unless}}
            <p>{{label}}</p>
        </div>
        {{/each}}
    </div>
    {{/each}}

    {{else}}

    <div>
        <p>{{localize "token-variants.TokenConfigPrompt"}}: <b>{{search}}</b></p>
    </div>

    {{/if}}
</form>