<form>
  <div class="form-group">
    <label>Compendium</label>
    <div class="form-fields">
      <select name="compendium">
        {{#each compendiums as |compendium|}}
        <option value="{{compendium.id}}" selected="">{{compendium.title}}</option>
        {{/each}}
      </select>
    </div>
    <p class="notes">
      {{localize "token-variants.settings.compendium-mapper.window.compendium-select"}}
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.missing-only"}}</label>
    <input type="checkbox" name="missingOnly" data-dtype="Boolean" {{#if missingOnly}}checked{{/if}}
    />
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.diff-images"}}</label>
    <input type="checkbox" name="diffImages" data-dtype="Boolean" {{#if diffImages}}checked{{/if}}
    />
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.show-images"}}</label>
    <input type="checkbox" name="showImages" data-dtype="Boolean" {{#if showImages}}checked{{/if}}
    />
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.include-keywords"}}</label>
    <input type="checkbox" name="incKeywords" data-dtype="Boolean" {{#if incKeywords}}checked{{/if}}
    />
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.cache"}}</label>
    <input type="checkbox" name="cache" data-dtype="Boolean" {{#if cache}}checked{{/if}} />
  </div>

  <h2>Automation</h2>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.auto-apply"}}</label>
    <input
      class="token-variants-auto-apply"
      type="checkbox"
      name="autoApply"
      data-dtype="Boolean"
    />
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.auto-art-select"}}</label>
    <input class="token-variants-auto-art-select" type="checkbox" name="autoDisplayArtSelect"
    data-dtype="Boolean" disabled {{#if autoDisplayArtSelect}}checked{{/if}}/>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.compendium-mapper.window.sync-images"}}</label>
    <input type="checkbox" name="syncImages" data-dtype="Boolean" {{#if syncImages}}checked{{/if}}
    />
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit">
      <i class="fas fa-cogs"></i>{{localize "token-variants.common.start"}}
    </button>
  </footer>
</form>
