<form class="macro-sheet editable flexcol">
    <div class="form-group stacked command">
        <label>Run On Apply</label>
        <textarea name="onApply">{{onApply}}</textarea>
    </div>

    <div class="form-group stacked command">
        <label>Run On Remove</label>
        <textarea name="onRemove">{{onRemove}}</textarea>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "token-variants.common.apply"}}</button>
    {{#if hasScript}}
        <button type="button" class="remove"><i class="fas fa-trash"></i> {{localize "token-variants.common.remove"}}</button>
    {{/if}}
    </footer>
</form>