<form>

    <nav class="sheet-tabs tabs" data-group="main" aria-role="Form Tab Navigation">
        <a class="item active" data-tab="misc"><i class="fas fa-wrench"></i> Misc</a>
        <a class="item" data-tab="appearance"><i class="fas fa-expand"></i> Appearance</a>
        <a class="item" data-tab="filter"><i class="fas fa-paint-roller"></i> Filter</a>
        <a class="item" data-tab="animation"><i class="fas fa-camera-movie"></i> Animation</a>
        <a class="item" data-tab="visibility"><i class="fas fa-eye"></i> Visibility</a>
        <a class="item" data-tab="text"><i class="fas fa-text-size"></i> Text</a>
        <a class="item" data-tab="shapes"><i class="fas fa-shapes"></i> Shapes</a>
        <a class="item" data-tab="variables"><i class="fas fa-shapes"></i> Variables</a>
    </nav>

    <input type="text" name="id" value="{{id}}" hidden>

    <section class = "content">
        <div class="tab active" data-group="main" data-tab="misc">

            <div class="form-group">
                <label>Parent</label>
                <div class="form-fields">
                <select name="parentID">
                    <option value="TOKEN" {{#if (eq ../../parent "TOKEN")}}selected="selected"{{/if}}>Token (Placeable)</option>
                    {{#each parents as |parent group|}}
                    <optgroup label="{{group}}">
                        {{#each parent.list as |mapping|}}
                        <option value="{{mapping.id}}" {{#if (eq ../../parentID mapping.id)}}selected="selected"{{/if}}>{{mapping.label}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                </select>
                </div>
            </div>

            <fieldset class="token-specific-fields">
                <legend>Display Priority</legend>

                <div class="form-group">
                    <label><i class="fal fa-eclipse"></i> Underlay</label>
                    <div class="form-fields">
                        <input type="checkbox" name="underlay" data-dtype="Boolean" value="{{underlay}}" {{#if underlay}}checked{{/if}}>
                    </div>
                    <p class="notes">Place the image, video or text underneath the token.</p>
                </div>

                <div class="form-group">
                    <label><i class="far fa-arrow-to-bottom"></i> BOTTOM</label>
                    <div class="form-fields">
                        <input type="checkbox" name="bottom" data-dtype="Boolean" value="{{bottom}}" {{#if bottom}}checked{{/if}}>
                    </div>
                    <p class="notes">Place this underlay bellow all tokens.</p>
                </div>

                <div class="form-group">
                    <label><i class="far fa-arrow-to-top"></i> TOP</label>
                    <div class="form-fields">
                        <input type="checkbox" name="top" data-dtype="Boolean" value="{{top}}" {{#if top}}checked{{/if}}>
                    </div>
                    <p class="notes">Place this overlay above all tokens.</p>
                </div>
            </fieldset>

            <fieldset>
                <legend>Link To Token</legend>
                <div class="form-group token-specific-fields">
                    <label>Tint Color</label>
                    <div class="form-fields">
                        <input type="checkbox" name="inheritTint" data-dtype="Boolean" value="{{inheritTint}}" {{#if inheritTint}}checked{{/if}}>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Rotation</label>
                    <div class="form-fields">
                        <input type="checkbox" name="linkRotation" data-dtype="Boolean" value="{{linkRotation}}" {{#if linkRotation}}checked{{/if}}>
                    </div>
                </div>

                <div class="form-group">
                    <label>&nbsp;&nbsp; -- Overlay Relative</label>
                    <div class="form-fields">
                        <input type="checkbox" name="animation.relative" data-dtype="Boolean" value="{{animation.relative}}" {{#if animation.relative}}checked{{/if}}>
                    </div>
                </div>
    
                <div class="form-group token-specific-fields">
                    <label>Mirror Image</label>
                    <div class="form-fields">
                        <input type="checkbox" name="linkMirror" data-dtype="Boolean" value="{{linkMirror}}" {{#if linkMirror}}checked{{/if}}>
                    </div>
                </div>

                <div class="form-group token-specific-fields">
                    <label>Scale</label>
                    <div class="form-fields">
                        <input type="checkbox" name="linkScale" data-dtype="Boolean" value="{{linkScale}}" {{#if linkScale}}checked{{/if}}>
                    </div>
                </div>

                <div class="form-group slim token-specific-fields">
                    <label>Dimensions</label>
                    <div class="form-fields">
                        <label>Width</label>
                        <input type="checkbox" name="linkDimensionsX" data-dtype="Boolean" value="{{linkDimensionsX}}" {{#if linkDimensionsX}}checked{{/if}}>
                        <label>Height</label>
                        <input type="checkbox" name="linkDimensionsY" data-dtype="Boolean" value="{{linkDimensionsY}}" {{#if linkDimensionsY}}checked{{/if}}>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Opacity</label>
                    <div class="form-fields">
                        <input type="checkbox" name="linkOpacity" data-dtype="Boolean" value="{{linkOpacity}}" {{#if linkOpacity}}checked{{/if}}>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Link To Stage</legend>
                <div class="form-group token-specific-fields">
                    <label>Scale</label>
                    <div class="form-fields">
                        <input type="checkbox" name="linkStageScale" data-dtype="Boolean" value="{{linkStageScale}}" {{#if linkStageScale}}checked{{/if}}>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Video</legend>
                <div class="form-group">
                    <label>Loop Video</label>
                    <div class="form-fields">
                        <input type="checkbox" name="loop" data-dtype="Boolean" value="{{loop}}" {{#if loop}}checked{{/if}}>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Play Once and Hide</label>
                    <div class="form-fields">
                        <input type="checkbox" name="playOnce" data-dtype="Boolean" value="{{playOnce}}" {{#if playOnce}}checked{{/if}}>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab active" data-group="main" data-tab="appearance">
            <div class="form-group">
                <label>Image Path</label>
                <div class="form-fields">
                    <button type="button" class="file-picker" data-type="imagevideo" data-target="img" title="Browse Files" tabindex="-1">
                        <i class="fas fa-file-import fa-fw"></i>
                    </button>
                    <input class="image" type="text" name="img" placeholder="path/image.png" value="{{img}}">
                <button type="button" title="Select variant" class="token-variants-image-select-button" tabindex="-1" data-type="imagevideo" data-target="img"><i class="fas fa-images"></i></button></div>
            </div>

            {{~>modules/token-variants/templates/partials/repeating.html repeating=repeating root="" repeat=repeat padding="true"}}

            <div class="form-group">
                <label>Opacity</label>
                <div class="form-fields">
                    <input type="range" name="alpha" value="{{alpha}}" min="0" max="1" step="0.05">
                    <span class="range-value">{{alpha}}</span>
                </div>
            </div>

            <div class="form-group">
                <label>Tint Color</label>
                <div class="form-fields">
                    <input class="color" type="text" name="tint" value="{{tint}}">
                    <input type="color" value="{{tint}}" data-edit="tint">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label>Horizontal Offset</label>
                <div class="form-fields">
                    <input class="offsetX" type="range" value="{{offsetX}}" min="-3" max="3" step="0.01">
                    <input name="offsetX" class="range-value" type="number" step="any" value="{{offsetX}}"></input>
                </div>
            </div>

            <div class="form-group">
                <label>Vertical Offset</label>
                <div class="form-fields">
                    <input class="offsetY" type="range" value="{{offsetY}}" min="-3" max="3" step="0.01">
                    <input name="offsetY" class="range-value" type="number" step="any" value="{{offsetY}}"></input>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label>Scale Width</label>
                    <div class="form-fields">
                        <input class="scaleX" type="range" value="{{scaleX}}" min="0.01" max="6" step="0.01">
                        <input name="scaleX" class="range-value" type="number" step="any" value="{{scaleX}}" min="0.01"></input>
                    </div>
                    <div class="scaleLock" style="flex: 0 !important;margin-left: 3px;"><a><i class="fas fa-link"></i></a></div>
                </div>

                <div class="form-group">
                    <label>Scale Height</label>
                    <div class="form-fields">
                        <input class="scaleY" type="range" value="{{scaleY}}" min="0.01" max="6" step="0.01">
                        <input name="scaleY" class="range-value" type="number" step="any" value="{{scaleY}}" min="0.01"></input>
                    </div>
                    <div class="scaleLock" style="flex: 0 !important;margin-left: 3px;"><a><i class="fas fa-link"></i></a></div>
                </div>
            </div>

            <div class="form-group">
                <label>Rotation</label>
                <div class="form-fields">
                    <input type="range" name="angle" value="{{angle}}" min="-360" max="360" step="1">
                    <span class="range-value">{{angle}}</span>
                </div>
            </div>

            <div class="form-group">
                <label>Anchor</label>
                <div class="form-fields">
                    <label>X</label>
                    <input name="anchor.x" type="number" step="any" value="{{anchor.x}}" min="0" max="1"></input>
                    <label>Y</label>
                    <input name="anchor.y" type="number" step="any" value="{{anchor.y}}" min="0" max="1"></input>
                </div>
                <p class="notes">Set the point on an overlay to be used to anchor it to the center of the parent.</p>
            </div>

            <img src="modules/token-variants/img/anchor_diagram.webp" width="200" height="200" style="margin: auto;display: block;border: none;"/>
        </div>

        <div class="tab active" data-group="main" data-tab="filter">
            <div class="form-group">
                <label>Filter</label>
                <div class="form-fields">
                <select name="filter">
                    {{#each filters as |filter|}}
                    <option value="{{filter}}" {{#if (eq ../filter filter)}}selected="selected"{{/if}}>{{filter}}</option>
                    {{/each}}
                </select>
                </div>
            </div>

            <div class="filterOptions">
                {{{filterOptions}}}
            </div>
        </div>

        <div class="tab active" data-group="main" data-tab="animation">
            <div class="form-group">
                <label>Rotate</label>
                <div class="form-fields">
                    <input type="checkbox" name="animation.rotate" data-dtype="Boolean" value="{{animation.rotate}}" {{#if animation.rotate}}checked{{/if}}>
                </div>
            </div>

            <div class="form-group">
                <label>Duration (ms)</label>
                <div class="form-fields">
                    <input type="range" name="animation.duration" value="{{animation.duration}}" min="100" max="30000" step="100">
                    <span class="range-value">{{animation.duration}}</span>
                </div>
            </div>

            <div class="form-group">
                <label>Clockwise</label>
                <div class="form-fields">
                    <input type="checkbox" name="animation.clockwise" data-dtype="Boolean" value="{{animation.clockwise}}" {{#if animation.clockwise}}checked{{/if}}>
                </div>
            </div>
        </div>

        <div class="tab active" data-group="main" data-tab="visibility">
            <div class="form-group">
                <label>Always Visible</label>
                <div class="form-fields">
                    <input type="checkbox" name="alwaysVisible" data-dtype="Boolean" value="{{alwaysVisible}}" {{#if alwaysVisible}}checked{{/if}}>
                </div>
                <p class="notes">Overlay will be visible in explored areas of the map even when the Token is not.</p>
            </div>

            <fieldset>
                <legend>Limit Visibility to Users</legend>
                {{#each users as |user|}}
                <div class="form-group">
                    <label>{{user.name}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="limitedUsers" data-dtype="String" value="{{user.id}}" {{#if user.selected}}checked{{/if}}>
                    </div>
                </div>
                {{/each}}
            </fieldset>

            <fieldset>
                <legend>Limit Visibility to State</legend>
                <div class="form-group">
                    <label>Hover</label>
                    <div class="form-fields">
                        <input type="checkbox" name="limitOnHover" data-dtype="Boolean" value="{{limitOnHover}}" {{#if limitOnHover}}checked{{/if}}>
                    </div>
                </div>
                <div class="form-group">
                    <label>Highlight</label>
                    <div class="form-fields">
                        <input type="checkbox" name="limitOnHighlight" data-dtype="Boolean" value="{{limitOnHighlight}}" {{#if limitOnHighlight}}checked{{/if}}>
                    </div>
                </div>
                <div class="form-group">
                    <label>Control</label>
                    <div class="form-fields">
                        <input type="checkbox" name="limitOnControl" data-dtype="Boolean" value="{{limitOnControl}}" {{#if limitOnControl}}checked{{/if}}>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Limit Visibility to Token With Effect</legend>
                <div class="form-group">
                    <label>Effect Name</label>
                    <div class="form-fields">
                        <input type="text" name="limitOnEffect" value="{{limitOnEffect}}" placeholder="Reveal: Overlay">
                    </div>
                    <p class="notes">Overlay will only be visible to Tokens with this effect applied to them.</p>
                </div>
            </fieldset>

            <fieldset>
                <legend>Limit Visibility to Token With Property</legend>
                <div class="form-group">
                    <label>Expression</label>
                    <div class="form-fields">
                        <input type="text" name="limitOnProperty" value="{{limitOnProperty}}" placeholder="actor.system.attributes.senses.truesight>0">
                    </div>
                    <p class="notes">Overlay will only be visible to Tokens that satisfy this expression.</p>
                    <p class="notes"> e.g. 
                        <br>actor.system.attributes.senses.truesight>0 
                        <br> actor.system.skills.prc.passive>=15
                        <br>hp&lt;=50%</p>
                </div>
            </fieldset>
        </div>

        <div class="tab active" data-group="main" data-tab="text">
            <div class="form-group">
                <label>Text</label>
                <div class="form-fields">
                    <input type="text" name="text.text" value="{{text.text}}">
                </div>
                <p class="notes"> For this text to show make sure that no image is assigned to this overlay.</p>
                <p class="notes">Token attributes can be inserted as so: <b>&#123;&#123;name&#125;&#125;</b></p>
                <p class="notes">Similarly the effect name can be insert with: <b>&#123;&#123;effect&#125;&#125;</b></p>
            </div>

            {{~>modules/token-variants/templates/partials/repeating.html repeating=text.repeating root="text." repeat=text.repeat}}

            <div class="form-group">
                <label>{{localize "DRAWING.FontFamily"}}</label>
                <div class="form-fields">
                    <select name="text.fontFamily">
                    {{#each fonts as |font|}}
                    <option value="{{font}}" {{#if (eq ../text.fontFamily font)}}selected="selected"{{/if}}>{{font}}</option>
                    {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "DRAWING.FillColor"}}</label>
                <div class="form-fields">
                    <input class="color" type="text" name="text.fill" value="{{text.fill}}">
                    <input type="color" value="{{text.fill}}" data-edit="text.fill">
                </div>
            </div>
            <div class="form-group">
                <label>Font Size</label>
                <div class="form-fields">
                    <input type="range" name="text.fontSize" value="{{text.fontSize}}" min="24" max="100" step="1">
                    <span class="range-value">{{text.fontSize}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>Align</label>
                <div class="form-fields">
                <select name="text.align">
                    {{#each textAlignmentOptions as |option|}}
                    <option value="{{option.value}}" {{#if (eq text.align option.value)}}selected="selected"{{/if}}>{{option.label}}</option>
                    {{/each}}
                </select>
                </div>
            </div>
            <div class="form-group">
                <label>Letter Spacing</label>
                <div class="form-fields">
                    <input type="range" name="text.letterSpacing" value="{{text.letterSpacing}}" min="0" max="25" step="0.1">
                    <span class="range-value">{{text.letterSpacing}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>Shadow</label>
                <div class="form-fields">
                    <input type="checkbox" name="text.dropShadow" data-dtype="String" value="{{text.dropShadow}}" {{#if text.dropShadow}}checked{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>Stroke Thickness</label>
                <div class="form-fields">
                    <input type="range" name="text.strokeThickness" value="{{text.strokeThickness}}" min="0" max="25" step="1">
                    <span class="range-value">{{text.strokeThickness}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>Stroke Color</label>
                <div class="form-fields">
                    <input class="color" type="text" name="text.stroke" value="{{text.stroke}}">
                    <input type="color" value="{{text.stroke}}" data-edit="text.stroke">
                </div>
            </div>

            <h2>Curve</h2>
            <div class="form-group">
                <label>Radius</label>
                <div class="form-fields">
                    <input type="range" name="text.curve.radius" value="{{text.curve.radius}}" min="0" max="450" step="5">
                    <span class="range-value">{{text.curve.radius}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>Invert</label>
                <div class="form-fields">
                    <input type="checkbox" name="text.curve.invert" data-dtype="Boolean" {{#if text.curve.invert}}checked{{/if}}>
                </div>
            </div>
        </div>
        <div class="tab" data-group="main" data-tab="shapes">

            <div class="form-group">
                <label>Shape</label>
                <div class="form-fields">
                <select>
                    {{#each allShapes as |shape|}}
                    <option value="{{shape}}">{{shape}}</option>
                    {{/each}}
                </select>
                <button class="addShape" type="button">Add</button>
                </div>
            </div>

            {{#each shapes as |shape|}}
            <hr><hr>

            {{#if (eq shape.shape.type "rectangle")}}
                {{~>modules/token-variants/templates/partials/shapeRectangle.html shape}}
            {{else if (eq shape.shape.type "ellipse")}}
                {{~>modules/token-variants/templates/partials/shapeEllipse.html shape}}
            {{else if (eq shape.shape.type "polygon")}}
                {{~>modules/token-variants/templates/partials/shapePolygon.html shape}}
            {{else if (eq shape.shape.type "torus")}}
                {{~>modules/token-variants/templates/partials/shapeTorus.html shape}}
            {{/if}}

            <fieldset>
                <legend>Line Style</legend>
                <div class="form-group">
                    <label>Width</label>
                    <div class="form-fields">
                        {{ rangePicker name=(concat "shapes." @index ".line.width") value=shape.line.width min="0" max="100" step="1" }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <div class="form-fields">
                        {{ colorPicker name=(concat "shapes." @index ".line.color") value=shape.line.color }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Opacity</label>
                    <div class="form-fields">
                        {{ rangePicker name=(concat "shapes." @index ".line.alpha") value=shape.line.alpha min="0" max="1" step="0.05" }}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Fill</legend>
                <div class="form-group">
                    <label>Color (Start)</label>
                    <div class="form-fields">
                        {{ colorPicker name=(concat "shapes." @index ".fill.color") value=shape.fill.color }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Color (End)</label>
                    <div class="form-fields">
                        {{ colorPicker name=(concat "shapes." @index ".fill.color2") value=shape.fill.color2 }}
                    </div>
                </div>

                <div class="form-group">
                    <label>Color Interpolation</label>
                    <div class="form-fields">
                        <input type="text" name="shapes.{{@index}}.fill.prc" value="{{shape.fill.prc}}">
                    </div>
                    <p class="notes">Point between Color (Start) and Color (End) as a value between 0.0 and 1.0</p>
                </div>

                <div class="form-group">
                    <label>Opacity</label>
                    <div class="form-fields">
                        {{ rangePicker name=(concat "shapes." @index ".fill.alpha") value=shape.fill.alpha min="0" max="1" step="0.05" }}
                    </div>
                </div>
            </fieldset>

            {{~>modules/token-variants/templates/partials/repeating.html repeating=shape.repeating root=(concat "shapes." @index ".") repeat=shape.repeat padding="true"}}

            <hr><hr>
            {{/each}}
        </div>
    </div>

    <div class="tab" data-group="main" data-tab="variables">
        <p class="notes">Define variables that you can insert into any overlay field. Useful when you have a constant value you want to re-use; for example multiple shapes that all share the same width</p>
        <p class="notes">e.g. @shapeWidth</p>
        <table>
            <tr>
                <th></th>
                <th>Name</th><th>Value</th>
                <th><a class="create-variable" title="Add a new variable."><i class="fas fa-plus"></i></a></th>
            </tr>
        {{#each variables as |variable|}}
        <tr data-index="{{@index}}">
            <td>@</td>
            <td><input type="text" name="variables.{{@index}}.name" value="{{variable.name}}"></td>
            <td><input type="text" name="variables.{{@index}}.value" value="{{variable.value}}"></td>
            <td> <a class="delete-variable" title="Delete variable."><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        {{/each}}
        </table>
    </div>

    </section>

    <input type="hidden" name="effect" value="{{effect}}">

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "token-variants.common.apply"}}</button>
    </footer>
</form>