<form>
    <div class="form-group">
        <label>Opacity</label>
        <div class="form-fields">
            <input type="range" name="alpha" value="{{alpha}}" min="0" max="1" step="0.05">
            <span class="range-value">{{alpha}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>Horizontal Offset</label>
        <div class="form-fields">
            <input type="range" name="offsetX" value="{{offsetX}}" min="-1" max="1" step="0.025">
            <span class="range-value">{{offsetX}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>Vertical Offset</label>
        <div class="form-fields">
            <input type="range" name="offsetY" value="{{offsetY}}" min="-1" max="1" step="0.025">
            <span class="range-value">{{offsetY}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>Scale Width</label>
        <div class="form-fields">
            <input type="range" name="scaleX" value="{{scaleX}}" min="-1" max="1" step="0.025">
            <span class="range-value">{{scaleX}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>Scale Height</label>
        <div class="form-fields">
            <input type="range" name="scaleY" value="{{scaleY}}" min="-1" max="1" step="0.025">
            <span class="range-value">{{scaleY}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>Filter</label>
        <div class="form-fields">
          <select name="filter">
            {{#each filters as |filter|}}
            <option value="{{filter}}" {{#if (eq ../filter filter)}}selected="selected"{{/if}}>{{filter}}</option>
            {{/each}}
          </select>
        </div>
      </div>

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "token-variants.common.apply"}}</button>
    </footer>
</form>