<form>
    <div class="form-group">
        <label>{{localize "token-variants.TwoPopupsName"}}</label>
        <input type="checkbox" name="twoPopups" data-dtype="Boolean" {{#if twoPopups}}checked{{/if}}>
        <p class="notes">{{localize "token-variants.TwoPopupsHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "token-variants.twoPopupsNoDialogName"}}</label>
        <input type="checkbox" name="twoPopupsNoDialog" data-dtype="Boolean" {{#if twoPopupsNoDialog}}checked{{/if}}>
        <p class="notes">{{localize "token-variants.twoPopupsNoDialogHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "token-variants.disableActorPortraitArtSelectName"}}</label>
        <input type="checkbox" name="disableActorPortraitArtSelect" data-dtype="Boolean" {{#if disableActorPortraitArtSelect}}checked{{/if}}>
        <p class="notes">{{localize "token-variants.disableActorPortraitArtSelectHint"}}</p>
    </div>

    <div class="form-group">
        <label>Disable Automatic Pop-ups for</label>
    </div>

    {{#each actorTypes}}
        <header class="table-header flexrow">
            {{#each this}}
                <label>{{this.label}}</label>
            {{/each}}
        </header>
        <ul class="setting-list">
            <li class="setting form-group">
                <div class="form-fields">
                    {{#each this}}
                        <input type="checkbox" name="{{this.type}}Disable" data-dtype="Boolean" {{#if this.disable}}checked{{/if}}>
                    {{/each}}
                </div>
            </li>
        </ul>
    {{/each}}

    <header class="table-header flexrow">
        <label class="index">On Actor Create</label>
        <label>On Token Create</label>
        <label>On Token Copy+Paste</label>
    </header>
    <ul class="setting-list">
        <li class="setting form-group">
            <div class="form-fields">
                <input type="checkbox" name="disableAutoPopupOnActorCreate" data-dtype="Boolean" {{#if disableAutoPopupOnActorCreate}}checked{{/if}}>
                <input type="checkbox" name="disableAutoPopupOnTokenCreate" data-dtype="Boolean" {{#if disableAutoPopupOnTokenCreate}}checked{{/if}}>
                <input type="checkbox" name="disableAutoPopupOnTokenCopyPaste" data-dtype="Boolean" {{#if disableAutoPopupOnTokenCopyPaste}}checked{{/if}}>
            </div>
        </li>
    </ul>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i>Apply</button>
    </footer>
</form>