<form>
  <div class="form-group">
    <label>{{localize "token-variants.settings.pop-up.window.two-pop-ups.Name"}}</label>
    <input type="checkbox" name="twoPopups" data-dtype="Boolean" {{#if twoPopups}}checked{{/if}}>
    <p class="notes">{{localize "token-variants.settings.pop-up.window.two-pop-ups.Hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.pop-up.window.no-dialog.Name"}}</label>
    <input type="checkbox" name="twoPopupsNoDialog" data-dtype="Boolean" {{#if twoPopupsNoDialog}}checked{{/if}}>
    <p class="notes">{{localize "token-variants.settings.pop-up.window.no-dialog.Hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.pop-up.window.disable-automatic-pop-ups-for"}}</label>
  </div>

  {{#each actorTypes}}
  <header class="table-header flexrow">
    {{#each this}}
    <label>{{this.label}}</label>
    {{/each}}
  </header>
  <ul class="setting-list">
    <li class="setting form-group">
      <div class="form-fields">
        {{#each this}} <input type="checkbox" name="{{this.type}}Disable" data-dtype="Boolean" {{#if
          this.disable}}checked{{/if}}> {{/each}}
      </div>
    </li>
  </ul>
  {{/each}}

  <header class="table-header flexrow">
    <label class="index">{{localize "token-variants.settings.pop-up.window.on-actor-create"}}</label>
    <label>{{localize "token-variants.settings.pop-up.window.on-token-create"}}</label>
    <label>{{localize "token-variants.settings.pop-up.window.on-token-copy-paste"}}</label>
  </header>
  <ul class="setting-list">
    <li class="setting form-group">
      <div class="form-fields">
        <input type="checkbox" name="disableAutoPopupOnActorCreate" data-dtype="Boolean" {{#if disableAutoPopupOnActorCreate}}checked{{/if}}>
        <input type="checkbox" name="disableAutoPopupOnTokenCreate" data-dtype="Boolean" {{#if disableAutoPopupOnTokenCreate}}checked{{/if}}>
        <input type="checkbox" name="disableAutoPopupOnTokenCopyPaste" data-dtype="Boolean" {{#if disableAutoPopupOnTokenCopyPaste}}checked{{/if}}>
      </div>
    </li>
  </ul>

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit" value="1">
      <i class="far fa-save"></i>{{localize "token-variants.common.apply"}}
    </button>
  </footer>
</form>