<form>

    <h3><b>Randomize:</b></h3>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Portrait image on Actor Create</label>
        <input type="checkbox" name="actorCreate" data-dtype="Boolean" {{#if actorCreate}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Token image on Token Create</label>
        <input type="checkbox" name="tokenCreate" data-dtype="Boolean" {{#if tokenCreate}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Token image on Token copy+paste</label>
        <input type="checkbox" name="tokenCopyPaste" data-dtype="Boolean" {{#if tokenCopyPaste}}checked{{/if}}>
    </div>

    <hr>

    <p><b>Select which searches are to be included in the randomizer:</b> </p>

    <div class="form-group">
        <label>Name</label>
        <input type="checkbox" name="tokenName" data-dtype="Boolean" {{#if tokenName}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>Keywords</label>
        <input type="checkbox" name="keywords" data-dtype="Boolean" {{#if keywords}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>Shared</label>
        <input type="checkbox" name="shared" data-dtype="Boolean" {{#if shared}}checked{{/if}}>
    </div>

    <hr>
    
    <h3><b>Disable for:</b></h3>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Tokens with Represented Actor</label>
        <input type="checkbox" name="representedActorDisable" data-dtype="Boolean" {{#if representedActorDisable}}checked{{/if}}>
    </div>
    
    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Tokens with Linked Actor Data</label>
        <input type="checkbox" name="linkedActorDisable" data-dtype="Boolean" {{#if linkedActorDisable}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Player Character</label>
        <input type="checkbox" name="pcDisable" data-dtype="Boolean" {{#if pcDisable}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Non-Player Character</label>
        <input type="checkbox" name="npcDisable" data-dtype="Boolean" {{#if npcDisable}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Vehicle</label>
        <input type="checkbox" name="vehicleDisable" data-dtype="Boolean" {{#if vehicleDisable}}checked{{/if}}>
    </div>

    <div class="form-group">
        <h4>Show Art Select pop-up if randomization is disabled</h4>
        <input type="checkbox" name="popupOnDisable" data-dtype="Boolean" {{#if popupOnDisable}}checked{{/if}}>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i>Apply</button>
    </footer>
</form>