<form>
    <section class="search-paths-config">
        <ol class="table-paths">
            <li class="table-path table-header flexrow">
                <div class="path-image"><a class="create-path" title="Add new path"><i class="fas fa-plus"></i></a></div>
                <div class="path-text"><label>Path</label></div>
                <div class="path-cache"><label>Cache</label></div>
                <div class="path-controls"></div>
            </li>

        {{#each paths as |path index|}}
            <li class="table-path flexrow" data-index="{{index}}">
                <div class="path-image">
                {{#if (eq path.type "local")}}
                    <i class="fas fa-folder"></i>
                {{/if}}
                {{#if (eq path.type "s3")}}
                    <i class="fas fa-database"></i>
                {{/if}}
                {{#if (eq path.type "forge")}}
                    <i class="fas fa-hammer"></i>
                {{/if}}
                {{#if (eq path.type "rolltable")}}
                    <i class="fas fa-dice"></i>
                {{/if}}
                </div>
                <div class="path-text"><input type="text" name="paths.{{index}}.text" value="{{path.text}}" placeholder="Path to image source"></div>
                <div class="path-cache"><input type="checkbox" name="paths.{{index}}.cache" data-dtype="Boolean" {{#if path.cache}}checked{{/if}}/></div>
                <div class="path-controls">
                    <a class="delete-path" title="Delete path"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
        </ol>
    </section>
    <!-- <footer class="sheet-footer flexrow">
        <button class="update" type="button"><i class="fas fa-save"></i> Update</button>
        <button class="reset" type="button"><i class="fas fa-undo"></i> Reset</button>
    </footer> -->
</form>