<form>
    <div class="form-group">
        <label>{{localize "token-variants.enableTokenHUDName"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="enableTokenHUD" data-dtype="Boolean" {{#if enableTokenHUD}}checked{{/if}}>
        </div>
        <p class="notes">{{localize "token-variants.enableTokenHUDHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "token-variants.HUDDisplayImageName"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="HUDDisplayImage" data-dtype="Boolean" {{#if displayImage}}checked{{/if}}>
        </div>
        <p class="notes">{{localize "token-variants.HUDDisplayImageHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "token-variants.HUDImageOpacityName"}}</label>
        <div class="form-fields">
            <input type="range" name="HUDImageOpacity" data-dtype="Number" value="{{opacity}}" min="0" max="100"
                step="1">
        </div>
        <p class="notes">{{localize "token-variants.HUDImageOpacityHint"}}</p>
    </div>

    <div class="button-container">
        <button type="submit">Apply</button>
    </div>
</form>