<form>
  <h2>Client Settings</h2>
  <div class="form-group">
    <label>{{localize "token-variants.settings.token-hud.window.enable-token-hud.Name"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="enableSideMenu" data-dtype="Boolean" {{#if enableSideMenu}}checked{{/if}}>
    </div>
    <p class="notes">
      {{localize "token-variants.settings.token-hud.window.enable-token-hud.Hint"}}
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.token-hud.window.always-show.Name"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="alwaysShowButton" data-dtype="Boolean" {{#if alwaysShowButton}}checked{{/if}}>
    </div>
    <p class="notes">{{localize "token-variants.settings.token-hud.window.always-show.Hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.token-hud.window.display-as-image.Name"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="displayAsImage" data-dtype="Boolean" {{#if displayAsImage}}checked{{/if}}>
    </div>
    <p class="notes">
      {{localize "token-variants.settings.token-hud.window.display-as-image.Hint"}}
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.token-hud.window.image-opacity.Name"}}</label>
    <div class="form-fields">
      <input
        type="range"
        name="imageOpacity"
        data-dtype="Number"
        value="{{imageOpacity}}"
        min="0"
        max="100"
        step="1"
      />
    </div>
    <p class="notes">{{localize "token-variants.settings.token-hud.window.image-opacity.Hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "token-variants.settings.token-hud.window.include-wildcard.Name"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="includeWildcard" data-dtype="Boolean" {{#if includeWildcard}}checked{{/if}}>
    </div>
    <p class="notes">
      {{localize "token-variants.settings.token-hud.window.include-wildcard.Hint"}}
    </p>
  </div>

  {{#if enableWorldSettings}}

  <h2>World Settings</h2>

  <div class="form-group">
    <label
      >{{localize "token-variants.settings.token-hud.window.display-shared-only.Name"}}
      <i class="fas fa-share"></i
    ></label>
    <div class="form-fields">
      <input type="checkbox" name="displayOnlySharedImages" data-dtype="Boolean" {{#if displayOnlySharedImages}}checked{{/if}}>
    </div>
    <p class="notes">
      {{localize "token-variants.settings.token-hud.window.display-shared-only.Hint"}}
    </p>
  </div>

  <div class="form-group">
    <label> {{localize "token-variants.settings.compendium-mapper.window.include-keywords"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="includeKeywords" data-dtype="Boolean" {{#if includeKeywords}}checked{{/if}}>
    </div>
  </div>

  <hr/>

  <div class="form-group">
    <label>{{localize "token-variants.settings.token-hud.window.update-actor-image.Name"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="updateActorImage" data-dtype="Boolean" {{#if updateActorImage}}checked{{/if}}>
    </div>
    <p class="notes">
      {{localize "token-variants.settings.token-hud.window.update-actor-image.Hint"}}
    </p>
  </div>

  <div class="form-group">
    <label>Use a similarly named file</label>
    <div class="form-fields">
      <input type="checkbox" name="useNameSimilarity" data-dtype="Boolean" {{#if useNameSimilarity}}checked{{/if}} {{#unless updateActorImage}}disabled{{/unless}}>
    </div>
    <p class="notes">
      Instead of using the same image for the portrait the module will perform a Portrait image search and attempt to find a similarly named image.
    </p>
  </div>

  <hr/>

  {{/if}} {{#if tokenHUDWildcardActive}}

  <h2><b>Token HUD Wildcard</b></h2>

  <div class="form-group">
    <label
      >{{localize
      "token-variants.settings.token-hud.window.disable-if-token-hud-wildcard-active.Name"}}</label
    >
    <div class="form-fields">
      <input type="checkbox" name="disableIfTHWEnabled" data-dtype="Boolean" {{#if disableIfTHWEnabled}}checked{{/if}}>
    </div>
    <p class="notes">
      {{localize
      "token-variants.settings.token-hud.window.disable-if-token-hud-wildcard-active.Hint"}}
    </p>
  </div>
  {{/if}}

  <div class="button-container">
    <button type="submit">
      <i class="far fa-save"></i>{{localize "token-variants.common.apply"}}
    </button>
  </div>
</form>
