<form>
    <p class="notes">Configure the Token image and its displayed size and scale.</p>

    <div class="form-group">
        <label>Token Image Path</label>
        <div class="form-fields"> 
            <input type="text" name="img" value="{{imgSrc}}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label>Width <span class="units">(Grid Units)</span></label>
        <input type="number" step="0.1" name="width" placeholder="units" value="{{width}}">
    </div>

    <div class="form-group">
        <label>Height <span class="units">(Grid Units)</span></label>
        <input type="number" step="0.1" name="height" placeholder="units" value="{{height}}">
    </div>

    <div class="form-group">
        <label>Scale <span class="units">(Ratio)</span></label>
        <div class="form-fields">
            <input type="range" name="scale" value="{{scale}}" min="0.2" max="3.0" step="0.1">
            <span class="range-value">{{scale}}</span>
        </div>
    </div>

    <div class="form-group">
        <label>Mirror Image Horizontally</label>
        <input type="checkbox" name="mirrorX" data-dtype="Boolean" {{#if mirrorX}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>Mirror Image Vertically</label>
        <input type="checkbox" name="mirrorY" data-dtype="Boolean" {{#if mirrorY}}checked{{/if}}>
    </div>

    <div class="form-group">
        <label>Tint Color</label>
        <div class="form-fields">
            <input class="color" type="text" name="tint" value="{{tint}}">
            <input type="color" value="{{tint}}" data-edit="tint">
        </div>
    </div>

    <div class="form-group">
        <label>Token Opacity</label>
        <div class="form-fields">
            <input type="range" name="alpha" value="{{alpha}}" min="0" max="1" step="0.05">
            <span class="range-value">{{alpha}}</span>
        </div>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Update Token</button>
        <button type="button" class="remove-config"><i class="fas fa-trash"></i> Remove Config</button>
    </footer>
</form>