<fieldset>
    <input type="text" name="shapes.{{@index}}.shape.type" value="{{shape.type}}" hidden>
    <legend class="shape-legend"><b>POLYGON</b></legend>
    <div class="form-group">
        <label>X</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.x" type="text" value="{{shape.x}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Y</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.y" type="text" value="{{shape.y}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Points <span class="units">(x1,y2,x2,y2,...)</span></label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.points" type="text" value="{{shape.points}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Scale</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.scale" type="text" value="{{shape.scale}}"></input>
        </div>
    </div>
</fieldset>