<fieldset>
    <input type="text" name="shapes.{{@index}}.shape.type" value="{{shape.type}}" hidden>
    <legend class="shape-legend"><b>TORUS</b></legend>
    <div class="form-group">
        <label>X</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.x" type="text" value="{{shape.x}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Y</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.y"type="text" value="{{shape.y}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Inner Radius</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.innerRadius" type="text" value="{{shape.innerRadius}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Outer Radius</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.outerRadius" type="text" value="{{shape.outerRadius}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>Start Angle</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.startAngle" type="text" value="{{shape.startAngle}}"></input>
        </div>
    </div>
    <div class="form-group">
        <label>End Angle</label>
        <div class="form-fields">
            <input name="shapes.{{@index}}.shape.endAngle" type="text" value="{{shape.endAngle}}"></input>
        </div>
    </div>
</fieldset>