/* ---------------------------------------- */
/* Art Select Sheet                         */
/* ---------------------------------------- */
.token-variants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 0.5rem;
  text-align: center;
}

.token-variants-grid > div {
  display: grid;
}

.token-variants-grid > div > .token-variants-grid-box,
.token-variants-grid > div > .token-variants-grid-image {
  grid-area: 1 / 1 / 2 / 2;
}

.token-variants-grid > div > .token-variants-grid-box {
  content: "";
  padding-bottom: 100%;
  display: block;
  border-style: solid;
  border-width: 1px;
}

.token-variants-grid-image {
  max-width: 98%;
  max-height: 113px;
  border: none;
  display: block;
  margin: auto;
  pointer-events: none;
}

.token-variants-grid > div > .fa-cog {
  display: inline-block;
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  left: 38%;
  top: 6px;
  color: rgb(182, 182, 121);
  opacity: 0;
  pointer-events: none;
}

.token-variants-grid > div > .fa-cog.active {
  opacity: 1;
}

.token-variants-grid > div > .token-variants-grid-box:hover {
  box-shadow: 0 0 8px rgba(255,0,0, 0.6);
}

.token-variants-grid > div > p{
    overflow: scroll;
    white-space: nowrap;
}