/* ---------------------------------------- */
/* Search Paths                             */
/* ---------------------------------------- */

ol.token-variant-table textarea {
  resize: none;
  min-height: 44px;
}
ol.token-variant-table {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 600px;
  overflow-y: auto;
}
ol.token-variant-table .table-row {
  padding: 2px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
ol.token-variant-table .table-row input[type='text'] {
  width: 100%;
  height: 28px;
}
ol.token-variant-table .table-row input[type='checkbox'] {
  width: 100%;
  margin-top: 7px;
}
ol.token-variant-table .table-row > div {
  line-height: 36px;
  margin-right: 5px;
}
ol.token-variant-table .table-row .path-image {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 0;
}
ol.token-variant-table .table-row .path-image img {
  border: none;
  object-fit: cover;
  object-position: 50% 0;
}
ol.token-variant-table .table-row .path-text {
  flex: 1;
}
ol.token-variant-table .table-row .path-cache {
  flex: 0 0 50px;
  text-align: center;
}
ol.token-variant-table .table-row .path-share {
  flex: 0 0 50px;
  text-align: center;
}
ol.token-variant-table .table-row .path-controls,
ol.token-variant-table .table-row .effect-controls,
ol.token-variant-table .table-row .imgur-control {
  flex: 0 0 40px;
  margin: 0;
  text-align: center;
}
ol.token-variant-table .table-row .imgur-control {
  display: none;
}
ol.token-variant-table .table-row .imgur-control.active {
  display: block;
}
ol.token-variant-table .table-row .path-controls i,
ol.token-variant-table .table-row .effect-controls i,
ol.token-variant-table .table-row .imgur-control i {
  width: 20px;
}
ol.token-variant-table .table-header {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  line-height: 24px;
  font-weight: bold;
}

/* ---------------------------------------- */
/* Active Effect Config List                */
/* ---------------------------------------- */
ol.token-variant-table .table-row .effect-priority {
  flex: 0.5;
}

ol.token-variant-table .table-row .effect-image {
  flex: 0 0 50px;
  text-align: center;
}
